name: OnlyKittens Bluesky Workflow

on:
  schedule:
    - cron: "20 16 * * *" # Runs twice a day, at 2:00 PM and 11:00 PM UTC

  workflow_dispatch:
    # Allows manual triggers of the workflow for testing.

jobs:
  post_kitten_content:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests openai pillow image

      - name: Run OnlyKittens Bot
        env:
          BLUESKY_HANDLE: ${{ secrets.BLUESKY_HANDLE }}
          BLUESKY_PASSWORD: ${{ secrets.BLUESKY_PASSWORD }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: |
          python src/onlykittens_bot.py
